.wpfb-attach-uploader {
	border: 4px dashed #222;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	text-transform: uppercase;
	opacity: 0.5;
	background-color: #fff;
	overflow: hidden;
}

.wpfb-attach-uploader.drag-over {
	border-color: #83b4d8;
	opacity: 1;
}

.treeview.drag-drop {
	margin: 4px;
}

.treeview.drag-over {
	border: 4px dashed #83b4d8;
	margin: 0;
}

.wpfb-attach-uploader .button {
	vertical-align: middle;
	line-height: 1em;
}

.wpfb-attach-uploader-files .progress {
	display: inline-block;
	height: 22px;
	width: 200px;
	padding: 0;
	-webkit-border-radius: 22px;
	border-radius: 22px;
	background: #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.wpfb-attach-uploader-files .progress .percent {
	z-index: 10;
	position: relative;
	width: 200px;
	padding: 0;
	color: #fff;
	text-align: center;
	line-height: 22px;
	font-weight: 400;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.wpfb-attach-uploader-files .progress .bar {
	z-index: 9;
	width: 0;
	height: 100%;
	margin-top: -22px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
	background-color: #0074a2;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	box-shadow: inset 0 0 2px rgba(0,0,0,.3);
}

.wpfb-drag-drop-hint {
	position: relative; top: 50px;
   text-align: right;
   margin-right: 50px;
   opacity: 0.5;
}

.wpfb-treeview-upload {
	margin-left: 15px;
}
