.wpfb-embedded-form #drag-drop-area {
	width: 400px;
	height: 60px;
	border: 2px dashed #DDD;
	background-color: #f9f9f9;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.wpfb-embedded-form .drag-drop-inside {
	margin: 5px;
	width: 400px;
}

.wpfb-embedded-form .drag-drop-inside p {
	text-align: center;
	font-size: 12px;
	color: #AAA;
}

.wpfb-embedded-form small {
	font-size: 10px;
}


.wpfb-embedded-form .progress {
	height: 22px;
	margin: 6px 10px 0 0;
	width: 200px;
	padding: 0;
	overflow: hidden;
	margin-bottom: 2px;
	border: 1px solid #d1d1d1;
	background: #fff;
	background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
}

.wpfb-embedded-form .bar {
	z-index: 9;
	width: 0;
	height: 100%;
	margin-top: -30px;
	background-color: #83B4D8;
	background-image: linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
	background-image: -o-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.wpfb-embedded-form .progress .percent {
	z-index: 10;
	position: relative;
	width: 200px;
	padding: 0 8px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	color: rgba(0,0,0,0.6);
	height: 30px;
	font-size: 14px;
}
 